/* Cria o estilo para os produtos */

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.produto img {
  max-width: 100%;
  margin-bottom: 10px;
}

.produto h2 {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.produto p {
  font-size: 0.8rem;
  margin: 10px 0;
  text-align: center;
}

.tamanhos,
.cores {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.tamanhos li,
.cores li {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tamanhos li:hover,
.cores li:hover {
  background-color: #ccc;
}

.preco {
  font-size: 1.2rem;
  margin: 10px 0;
}

.botao-comprar,
.botao-desejos {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.botao-comprar:hover,
.botao-desejos:hover {
  background-color: #555;
}

.estoque {
  font-size: 0.8rem;
  color: green;
  margin: 10px 0;
  text-align: center;
}
